body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

main {
	background: url(background.jpg);
	background-size: cover;
	height: 100vh;
	width: 100vw;
	transition:  margin-left ;
	transition-duration: 2s;
}

header {
	position: fixed;
}

nav {
	background: #800000;
	height: 100vh;
}

nav ul {
	padding-left: 0;
	padding-top: 40px;
	margin: 0;
	list-style: none;
}

nav ul li {
	width: 101px;
	overflow: hidden;

	transition: width;
	transition-duration: 2s;
	margin-left: 0;
}

nav a {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: white;
	text-decoration: none;
	font-size: 20px;
	overflow-x: hidden;
	width: 80px;
	transition: width;
	transition-duration: 2s;
	transition-delay: 0.3s;
	font-size: 1.4rem;
}
nav li:nth-child(1) a{
	transition-delay: 0.5s;

}
nav li:nth-child(2) a{
	transition-delay: 0.7s;

}
nav li:nth-child(3) a{
	transition-delay: 0.9s;

}
nav li:nth-child(4) a{
	transition-delay: 1.1s;

}

svg {
	max-width: 50px;
	max-height: 50px;
	margin: 25px;
	margin-right: 50px;
	fill: white;
}

ul:hover a {
	width: 300px;
}

header:hover li {
	width: 400px;
}


header:hover~main {
	margin-left: 300px;

}

li:hover {
	background: rgba(0, 0, 0, 1);
}

li:hover svg {
	fill: #800000;
}

li:hover a {
	color: #800000;
}
